/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
/* .container { */
/*   width: 820px; /\* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. *\/ */
/* } */

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	color:#FFF;
}
.tag_box a:hover {
  background-color:#bbb;
	color:#FFF;
}
.tag_box .select a {
  background-color:#bbb;
}
.main-container .tag_box {
  padding-top: 0;
}
.main-container, .tag-container, .side-container {
  margin-bottom: 20px;
}
.side-container {
  padding: 0 10px;
}
.post-title {
  display: inline-block;
}
.post-title a {
  text-decoration: none;
}
.post-date {
  display: inline-block;
  float: right;
  margin-top: 15px;
}
.readmore-padding {
  padding-top: 5px;
}
[class*="social-icon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  *margin-right: .3em;
  line-height: 32px;
  background-image: url("../../../img/social-white-v2.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-style: normal;
}
.social-icon-weibo {
  background-image: url("../../../img/weibo.png");
  background-position: -2px -55px;
}
.social-icon-weibo + span {
  color: #fc1c36;
}
.social-icon-github {
  background-position: 0 0px;
  background-color: #000000;
  color: #000000;
}
.social-icon-github:hover {
  background-color: #000000;
  color: #000000;
}
.social-icon-github + span {
  color: #000000;
}
.social-icon-google {
  background-position: 0 -128px;
  background-color: #d94a38;
  color: #d94a38;
}
.social-icon-google:hover {
  background-color: #ba3424;
  color: #ba3424;
}
.social-icon-google + span {
  color: #d94a38;
}
.social-icon-facebook {
  background-position: 0 -96px;
  background-color: #3d599b;
  color: #3d599b;
}
.social-icon-facebook:hover {
  background-color: #2f4476;
  color: #2f4476;
}
.social-icon-facebook + span {
  color: #3d599b;
}
.social-icon-email {
  background-position: 0 -256px;
  background-color: #5caeff;
  color: #5caeff;
}
.social-icon-email:hover {
  background-color: #2995ff;
  color: #2995ff;
}
.social-icon-email + span {
  color: #5caeff;
}
.social-icon-rss {
  background-position: 0 -192px;
  background-color: #ff6501;
  color: #ff6501;
}
.social-icon-rss:hover {
  background-color: #cd5100;
  color: #cd5100;
}
.social-icon-rss + span {
  color: #ff6501;
}
.social-unit a {
  display: inline-block;
  margin-top: 7px;
}
.social-unit a:hover {
  text-decoration: none;
}
.social-unit a i,
.social-unit a span {
  vertical-align: middle;
  font-size: 16px;
}
